<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About the artist</h2>
                <hr class="light">
                <p class="text-faded">David Roberts’ art captures the light, patterns and essence of the surrounding natural world. Drawing inspiration from the processes behind traditional printmaking and pin-hole photography,  David’s unique painting style uses layering to develop depth, pattern, colour, impact and delicacy.</p>
                <p class="text-faded">His self-developed techniques and processes use paper, paint and beeswax.</p>
                <a href="/about/" class="btn btn-default btn-xl">Read more</a>
            </div>
        </div>
    </div>
</section>
