<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About the artist</h2>
                <hr class="light">
                <p class="text-faded">David was born and brought up in a remote area of Kenya, on the shores of Lake Baringo. The vast landscapes, endless horizons, and patterns of organic form have always inspired him, and are deeply ingrained in his art.</p>
                <p class="text-faded">His mixed media work is derived from in-situ drawings, paintings, digital and pin-hole photographs. His work aims to capture the essence and spirit of landscapes using a variety of techniques to create a personal portrayal of the ever changing light, colour and atmosphere of the world.</p>
                <a href="/about/" class="btn btn-default btn-xl">Read more</a>
            </div>
        </div>
    </div>
</section>
