<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-6 col-sm-6">
                <a style="background-image: url(/img/P1060535.jpg); background-position: center 85%;" href="/portfolio/landscapes" class="portfolio-box">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Study
                            </div>
                            <div class="project-name">
                                Landscapes
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-sm-6">
                <a style="background-image: url(/img/portfolio/insects/R01-patz-hobbs.jpg)" href="/portfolio/insects" class="portfolio-box">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Study
                            </div>
                            <div class="project-name">
                                Insects
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-sm-6">
                <a style="background-image: url(/img/portfolio/botanical/white-flowers-heliotropus.jpg); background-position: center 40%;" href="/portfolio/botanical" class="portfolio-box">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Study
                            </div>
                            <div class="project-name">
                                Botanical
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-sm-6">
                <a style="background-image: url(/img/portfolio/black-and-white.jpg)" href="/portfolio/supporting-work" class="portfolio-box">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Other
                            </div>
                            <div class="project-name">
                                Supporting Work
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
